{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block title %}Tareas Matriz de Cobertura{% endblock %}

{% block content %}
    <h3 class="mb-3">Tareas Matriz de Cobertura</h3>
    <table id="plans-table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Fecha de creacion</th>
        </tr>
        </thead>
        <tbody>
        {% for plan in plans %}
            <tr>
                <td><a href="{% url 'coveragematrix:plan_detail' plan.id %}">{{ plan.name }}</a></td>
                <td>{% with status=plan.get_status_bootstrap %}<span class="badge badge-{{ status.1 }}">{{ status.0 }}</span>{% endwith %}</td>
                <td>{{ plan.created_at|timezone:'America/Santiago'|date:'Y-m-d H:i' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            table = dataTable3('plans-table', {
                order: [[2, 'desc']],
                buttons: [{extend:'pageLength',className: 'btn btn-fill'}]
            });
            $('#plans-table_filter').hide();
        });
    </script>
{% endblock %}
