{% extends "base.html" %}
{% load static %}
{% block title %}Construir Matriz de Cobertura{% endblock %}

{% block styles %}
    <style>
        .form-check-input {
            position: relative;
            margin-left: 0;
        }
    </style>
{% endblock styles %}

{% block content %}
    <h3 class="mb-3">Construir Matriz de Cobertura</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label for="name-id" class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-5">
                <input name="name" id="name-id" type="text" class="form-control" required>
            </div>
        </div>
        <div class="form-group  row">
            <div class="col-sm-8">
                <div class="custom-file">
                    <input type="file" name="coverage" class="custom-file-input" id="coverage-input" required>
                    <label class="custom-file-label" for="coverage-input">Cargar archivo de cobertura</label>
                </div>
            </div>
            <div class="col-sm-4"><button id="coverage-loading" class="btn btn-info" style="display: none"><i class="fas fa-spinner fa-spin"></i> Cargando</button><span id="coverage-filename" class="badge badge-secondary" style="display: none"></span></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Uso de las unidades de cobertura</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="merge_coverage_units" id="coverage_kind_id1" value="0" checked>
                <label class="form-check-label" for="coverage_kind_id1">Separar unidades</label>
                <input class="form-check-input ml-4" type="radio" name="merge_coverage_units" id="coverage_kind_id2" value="1">
                <label class="form-check-label" for="coverage_kind_id2">Combinar unidades</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="coverage_units_id">Unidades de cobertura</label>
            <div class="col-sm-5">
                <select name="coverage_units" id="coverage_units_id" class="form-control" multiple="multiple" style="display: none" required></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-8">
                <div class="custom-file">
                    <input type="file" name="transactions" class="custom-file-input" id="transactions-input" required>
                    <label class="custom-file-label" for="transactions-input">Cargar archivo de transacciones</label>
                </div>
            </div>
            <div class="col-sm-4"><button id="transaction-loading" class="btn btn-info" style="display: none"><i class="fas fa-spinner fa-spin"></i> Cargando</button><span id="transactions-filename" class="badge badge-secondary" style="display: none"></span></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Uso de las unidades de transacciones</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="merge_transaction_units" id="transaction_kind_id1" value="0" checked>
                <label class="form-check-label" for="transaction_kind_id1">Separar unidades</label>
                <input class="form-check-input ml-4" type="radio" name="merge_transaction_units" id="transaction_kind_id2" value="1">
                <label class="form-check-label" for="transaction_kind_id2">Combinar unidades</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="transaction_units_id">Unidad de transacciones</label>
            <div class="col-sm-5">
                <select name="transaction_units" id="transaction_units_id" class="form-control" multiple="multiple" style="display: none" required></select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="range_id">Rango de ejecucion</label>
            <div class="col-sm-5">
                <input name="range" type="text" id="range_id" class="form-control" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="iterations_id">Iteraciones</label>
            <div class="col-sm-5">
                <input name="iterations" type="number" id="iterations_id" class="form-control" min="1" required>
            </div>
        </div>
        <button id="submit-btn" type="submit" class="btn btn-success mb-2">Construir Matriz de Cobertura</button>
    </form>

{% endblock %}

{% block scripts %}
    <script>
        let selectedDriver, driversData, lineChart = null;

        $(document).ready(function() {
            let coverageInput = $('#coverage-input');
            let transactionInput = $('#transactions-input');

            coverageInput.change(function (event) {
                let coverageLoading = $('#coverage-loading');
                coverageLoading.show();

                let files = event.target.files, f = files[0];
                let reader = new FileReader();
                reader.onload = function(event) {
                    let data = new Uint8Array(event.target.result);
                    let workbook = XLSX.read(data, {type: 'array', cellDates: true});

                    let rows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[workbook.SheetNames[0]]);
                    let coverageUnits = []
                    let startDate =  moment({
                        day: 1,
                        month: 1,
                        year: 3000
                    });
                    let endDate =  moment({
                        day: 1,
                        month: 1,
                        year: 0
                    });

                    rows.forEach(function (row){
                        if (!coverageUnits.includes(row['Driver'])) {
                            coverageUnits.push(row['Driver']);
                        }
                        let iterDate = row['Fecha'];
                        let momentDate = moment(iterDate, "DD/MM/YYYY");
                        if (momentDate.isBefore(startDate)) {
                            startDate = momentDate;
                        }
                        if (momentDate.isAfter(endDate)) {
                            endDate = momentDate;
                        }
                    });

                    let coverageUnitSelector = $('#coverage_units_id');
                    coverageUnitSelector.html('');
                    coverageUnits.forEach(function (value) {
                        coverageUnitSelector.append(`<option>${value}</option>`);
                    });
                    $('#range_id').daterangepicker({
                        startDate: startDate,
                        endDate: endDate,
                        locale: dataRangePickerLocale
                    });
                    coverageUnitSelector.select2({
                        theme: 'bootstrap',
                        width: null,
                        containerCssClass: ':all:'
                    });
                    coverageUnitSelector.show();
                    coverageLoading.hide();
                    $('#coverage-filename').html(''+coverageInput.val().split(/(\\|\/)/g).pop()).show();
                };
                reader.readAsArrayBuffer(f);
            });

            transactionInput.change(function (event) {
                let transactionLoading = $('#transaction-loading');
                transactionLoading.show();

                let files = event.target.files, f = files[0];
                let reader = new FileReader();
                reader.onload = function(event) {
                    let data = new Uint8Array(event.target.result);
                    let workbook = XLSX.read(data, {type: 'array', cellDates: true});

                    let rows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[workbook.SheetNames[0]]);
                    let transactionUnits = [];
                    rows.forEach(function (row) {
                        if (!transactionUnits.includes(row['Indicador'])) {
                            transactionUnits.push(row['Indicador']);
                        }
                    });

                    let transactionUnitSelector = $('#transaction_units_id');
                    transactionUnitSelector.html('');
                    transactionUnits.forEach(function (value) {
                        transactionUnitSelector.append(`<option>${value}</option>`);
                    });
                    transactionUnitSelector.select2({
                        theme: 'bootstrap',
                        width: null,
                        containerCssClass: ':all:'
                    });
                    transactionUnitSelector.show();
                    transactionLoading.hide();
                    $('#transactions-filename').html(''+transactionInput.val().split(/(\\|\/)/g).pop()).show();
                };
                reader.readAsArrayBuffer(f);
            });
        });
    </script>
{% endblock %}