{% extends "base.html" %}
{% load static %}
{% block title %}Ejecutar Mix Optimo{% endblock %}

{% block styles %}
    <style>
        #shift-col-1 {
            padding-top: 3px;
            padding-bottom: 3px;
            vertical-align: middle;
            line-height: 2;
        }

        #shift-container > .row {
            margin-bottom: 5px;
        }

        tbody.tbody-timerange select {
            width: 40%;
            display: inline;
        }

        tbody.tbody-timerange > tr > td > div {
            margin-bottom: 5px;
        }

        #parameters-table td.checkbox-td {
            text-align: center;
        }

        #parameters-table input.form-check-input {
            margin-left: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <h3 class="mb-3">Ejecucion del Mix Optimo</h3>
    <form id="mix-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-5">
                <input name="name" type="text" class="form-control" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-7">
                <div class="custom-file">
                    <input type="file" name="parameters" class="custom-file-input" id="parameters-input">
                    <label class="custom-file-label" for="parameters-input">Cargar archivo de parametros</label>
                </div>
            </div>
            <div class="col-sm-5"><span id="parameters-filename" class="badge badge-secondary" style="display: none"></span></div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-7">
                <div class="custom-file">
                    <input type="file" name="demand" class="custom-file-input" id="demand-input" required>
                    <label class="custom-file-label" for="demand-input">Cargar archivo de demanda</label>
                </div>
            </div>
            <div class="col-sm-5"><span id="demand-filename" class="badge badge-secondary" style="display: none"></span></div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">Tiendas</label>
            <div id="demand-stores" class="col-sm-5">
            </div>
            <div id="range-div" class="col-sm-5" style="display: none">
                <label for="range_id">Rango de ejecución</label>
                <input id="range_id" class="form-control" type="text" name="range" />
                <input type="hidden" name="sheet_start_date" />
                <input type="hidden" name="sheet_end_date" />
            </div>
        </div>
        <hr class="shift-container-element">
        <button class="btn btn-primary mb-2 shift-container-element" type="button" data-toggle="collapse" data-target="#shift-container" aria-expanded="false" aria-controls="shift-container">
            Carga manual de parametros
        </button>
        <div id="shift-container" class="collapse shift-container-element">
        <div id="timerange-div" style="display: none">
            <div class="row" style="display: none">
                <label class="col-sm-3 col-form-label">Horarios de apertura y cierre:</label>
                <div class="form-check form-check-inline" id="timerange-unique-div">
                    <input class="form-check-input" type="radio" name="timerange_kind" id="timerange-unique" value="0" checked>
                    <label class="form-check-label" for="timerange-unique">Unico</label>
                </div>
                <div class="form-check form-check-inline" id="timerange-weekday-div">
                    <input class="form-check-input" type="radio" name="timerange_kind" id="timerange-weekday" value="1">
                    <label class="form-check-label" for="timerange-weekday">Por dia de la semana</label>
                </div>
                <input type="hidden" name="time_shifts">
            </div>
            <div class="row" id="unique-table">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Horario de apertura</th>
                            <th>Horario de cierre</th>
                        </tr>
                        </thead>
                        <tbody class="tbody-timerange">
                        <tr>
                            <td>
                                <div>
                                     <select class="form-control" name="open_start_time[0]">
                                    </select>
                                    -
                                    <select class="form-control" name="open_end_time[0]">
                                    </select>
                                    <div class="btn-group float-right">
                                        <button type="button" class="btn btn-primary add-schedule" data-schedule-kind="open"><i class="fas fa-plus"></i></button>
                                        <button type="button" class="btn btn-danger remove-schedule" data-schedule-kind="open"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <select class="form-control" name="close_start_time[0]">
                                    </select>
                                    -
                                    <select class="form-control" name="close_end_time[0]">
                                    </select>
                                    <div class="btn-group float-right">
                                        <button type="button" class="btn btn-primary add-schedule" data-schedule-kind="close"><i class="fas fa-plus"></i></button>
                                        <button type="button" class="btn btn-danger remove-schedule" data-schedule-kind="close"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="weekday-table" style="display: none">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Horario de apertura</th>
                            <th>Horario de cierre</th>
                        </tr>
                        </thead>
                        <tbody class="tbody-timerange">
                        <tr>
                            <td>Lunes</td>
                            <td>
                                <select class="form-control" name="open_start_time[0][0]">
                                </select>
                                -
                                <select class="form-control" name="open_end_time[0][0]">
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="close_start_time[0][0]">
                                </select>
                                -
                                <select class="form-control" name="close_end_time[0][0]">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Martes</td>
                            <td>
                                <select class="form-control" name="open_start_time[1][0]">
                                </select>
                                -
                                <select class="form-control" name="open_end_time[1][0]">
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="close_start_time[1][0]">
                                </select>
                                -
                                <select class="form-control" name="close_end_time[1][0]">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Miercoles</td>
                            <td>
                                <select class="form-control" name="open_start_time[2][0]">
                                </select>
                                -
                                <select class="form-control" name="open_end_time[2][0]">
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="close_start_time[2][0]">
                                </select>
                                -
                                <select class="form-control" name="close_end_time[2][0]">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Jueves</td>
                            <td>
                                <select class="form-control" name="open_start_time[3][0]">
                                </select>
                                -
                                <select class="form-control" name="open_end_time[3][0]">
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="close_start_time[3][0]">
                                </select>
                                -
                                <select class="form-control" name="close_end_time[3][0]">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Viernes</td>
                            <td>
                                <select class="form-control" name="open_start_time[4][0]">
                                </select>
                                -
                                <select class="form-control" name="open_end_time[4][0]">
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="close_start_time[4][0]">
                                </select>
                                -
                                <select class="form-control" name="close_end_time[4][0]">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Sabado</td>
                            <td>
                                <select class="form-control" name="open_start_time[5][0]">
                                </select>
                                -
                                <select class="form-control" name="open_end_time[5][0]">
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="close_start_time[5][0]">
                                </select>
                                -
                                <select class="form-control" name="close_end_time[5][0]">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Domingo</td>
                            <td>
                                <select class="form-control" name="open_start_time[6][0]">
                                </select>
                                -
                                <select class="form-control" name="open_end_time[6][0]">
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="close_start_time[6][0]">
                                </select>
                                -
                                <select class="form-control" name="close_end_time[6][0]">
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <div class="row">
                <div id="shift-col-1" class="col-sm-3">
                    Turnos
                    <div class="btn-group float-right">
                        <button type="button" id="add-shift" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i></button>
                        <button type="button" id="remove-shift" class="btn btn-sm btn-danger"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="col-sm-4"><input name="shift[0]" type="text" class="form-control"></div>
            </div>
            <div class="row">
                <div id="shift-col-2" class="col-sm-3">
                    <button id="generate-table" type="button" class="btn btn-secondary">Generar parametros</button>
                </div>
                <div id="shift-second-input" class="col-sm-4"></div>
                <div class="col-sm-5">
                    <div id="parameters-file-input-message" class="alert alert-danger" role="alert" style="display: none"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="parameters mb-3" style="display: none">
            <!-- .table-striped arruina la primera columna fixed -->
            <table id="parameters-table" class="table table-bordered table-striped" style="width:100%"></table>
            <hr>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" title="[ppto]">Presupuesto</label>
                <div class="col-sm-5">
                    <input name="ppto" type="number" class="form-control" step="any">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" title="[sobrecargo]">Sobrecargo</label>
                <div class="col-sm-5">
                    <input name="sobrecargo" type="number" class="form-control" step="any">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" title="[cu]">Costo understaffing</label>
                <div class="col-sm-5">
                    <input name="cu" type="number" class="form-control" step="any">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" title="[co]">Costo overstaffing</label>
                <div class="col-sm-5">
                    <input name="co" type="number" class="form-control" step="any">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" title="Service level [slmin]">Nivel de servicio</label>
                <div class="col-sm-5">
                    <input name="slmin" type="number" class="form-control" step="any">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" title="[opmin]">Nivel de operación mínimo</label>
                <div class="col-sm-5">
                    <input name="opmin" type="number" class="form-control" step="any">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" title="[opmax]">Nivel de operación máximo</label>
                <div class="col-sm-5">
                    <input name="opmax" type="number" class="form-control" step="any">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" title="[SemCambioDotacion]">Semanas de contrato y despido</label>
                <div class="col-sm-5">
                    <input name="SemCambioDotacion" type="number" class="form-control" step="1">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" title="[horasmensual]">Horas por mes</label>
                <div class="col-sm-5">
                    <input name="horasmensual" type="number" class="form-control" step="any">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" title="[mip_gap]">Exigencia del optimizador (%)</label>
                <div class="col-sm-5">
                    <input name="mip_gap" type="number" class="form-control" min="0" step="any">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" title="[days_cycle]">Dias por subejecucion</label>
                <div class="col-sm-5">
                    <input name="days_cycle" type="number" class="form-control" min="28">
                </div>
            </div>
        </div>
        <button id="submit-btn" type="submit" class="btn btn-success mb-2">Ejecutar Mix Óptimo</button>
    </form>

{% endblock %}

{% block scripts %}
    <script>
        let shiftParameters = [
            {
                name: "salario",
                label: "Salario",
                description: "[salario]"
            },
            {
                name: "largosem",
                label: "Largo semanal",
                description: "Duracion en horas de la semana [largosem]"
            },
            {
                name: "largomen",
                label: "Largo mensual",
                description: "Duracion en horas del mes [largomen]"
            },
            {
                name: "cotainf",
                label: "Cota inferior",
                description: "Minimo de horas en un dia [cotainf]"
            },
            {
                name: "cotasup",
                label: "Cota superior",
                description: "Maximo de horas en un dia [cotasup]"
            },
            {
                name: "diaslabmin",
                label: "Dias laborales minimos",
                description: "[diaslabmin]"
            },
            {
                name: "diaslabmax",
                label: "Dias laborales maximos",
                description: "[diaslabmax]"
            },
            {
                name: "zcero",
                label: "Dotacion inicial",
                description: "[zcero]"
            },
            {
                name: "productividad",
                label: "Productividad",
                description: "[productividad]"
            },
            {
                name: "ausentismo",
                label: "Ausentismo",
                description: "[ausentismo]"
            },
            {
                name: "rotacion",
                label: "Rotacion",
                description: "[rotacion]"
            },
            {
                name: "contrato",
                label: "Contrato",
                description: "[contrato]"
            },
            {
                name: "despido",
                label: "Despido",
                description: "[despido]"
            }
        ];
        let shiftBooleanParameters = [
            {
                name: "Turnoshx",
                label: "Horas extra",
                description: "Habilitar al contrato realizar horas extra [Turnoshx]"
            },
            {
                name: "Turnoslegales",
                label: "Turnos legales",
                description: "Restricciones legales sobre el contrato [Turnoslegales]"
            }
        ];
        let shiftCount = 1;
        let scheduleCount = {
            open: 1,
            close: 1
        };
        let outScheduleCount = 1;
        let shifts = -1;
        let shiftOptions = [];
        var table = -1;
        let shiftParametersList = ['salario', 'largosem', 'largomen', 'cotainf', 'cotasup', 'diaslabmin', 'diaslabmax',
            'zcero', 'productividad', 'ausentismo', 'rotacion', 'contrato', 'despido'];
        let shiftBooleanParametersList = ['Turnoshx', 'Turnoslegales'];
        let scalarParametersList = ['ppto', 'sobrecargo', 'cu', 'co', 'slmin', 'opmin', 'opmax', 'SemCambioDotacion',
            'horasmensual', 'mip_gap', 'days_cycle'];
        let constraintParametersList = [];

        $(document).ready(function() {
            let sheetStartDate, sheetEndDate;
            let rangeInput = $('input[name="range"]');
            let addShiftBtn = $('#add-shift');
            let removeShiftBtn = $('#remove-shift');
            let generateTableBtn = $('#generate-table');
            let parametersFileInputMessage = $('#parameters-file-input-message');
            addShiftBtn.click(function () {
                addShiftBtn.attr('disabled', true);
                removeShiftBtn.attr('disabled', true);
                if (shiftCount === 1) {
                    $('#shift-second-input').html('<input name="shift[1]" type="text" class="form-control">');
                } else {
                    $('#shift-container').append(
                        '<div class="row">' +
                        '    <div class="col-sm-3"></div>' +
                        '    <div class="col-sm-4"><input name="shift['+shiftCount+']" type="text" class="form-control"></div>' +
                        '</div>')
                }
                shiftCount++;
                addShiftBtn.attr('disabled', false);
                removeShiftBtn.attr('disabled', false);
            });

            removeShiftBtn.click(function () {
                removeShiftBtn.attr('disabled', true);
                addShiftBtn.attr('disabled', true);
                if (shiftCount === 2) {
                    $('#shift-second-input').html('');
                } else if (shiftCount > 2) {
                    $('#shift-container > div.row:last').remove();
                }
                shiftCount--;
                addShiftBtn.attr('disabled', false);
                removeShiftBtn.attr('disabled', false);
            });

             $('.add-schedule').click(function () {
                 let kind = $(this).data('schedule-kind');
                 $(this).parents().eq(2).append(
                     `<div><select class="form-control" name="${kind}_start_time[${scheduleCount[kind]}]"></select> - <select class="form-control" name="${kind}_end_time[${scheduleCount[kind]}]"></select></div>`
                 );
                 fillShifts($(`select[name="${kind}_start_time[${scheduleCount[kind]}]"]`),
                      $(`select[name="${kind}_end_time[${scheduleCount[kind]}]"]`), shifts, shiftOptions);
                scheduleCount[kind]++;
            });

            $('.remove-schedule').click(function () {
                let kind = $(this).data('schedule-kind');
                if (scheduleCount[kind] > 1) {
                    $(this).parents().eq(2).children('div').last().remove();
                    scheduleCount[kind]--;
                }
            });


            let tableSelector = $('#parameters-table');

            generateTableBtn.click(function () {
                if (table !== -1) {
                    table.clear().destroy();
                }
                $('.parameters input[type="number"]').val('');

                let shiftArray = [];
                $('#shift-container input[type="text"]').each(function () {
                    let myshift = $(this).val();
                    if (myshift.length > 0 && !shiftArray.includes(myshift)) {
                        shiftArray.push(myshift);
                    }
                });
                tableSelector.html('<thead><tr><th>Parametro</th></tr></thead><tbody></tbody>');
                shiftArray.forEach(function (item, index) {
                    $('#parameters-table > thead > tr').append('<th>'+item+'</th>');
                });

                shiftParameters.forEach(function (parameter, index) {
                    $('#parameters-table > tbody').append('<tr><td title="'+parameter.description+'">'+parameter.label+'</td></tr>');
                    shiftArray.forEach(function (item, index2) {
                        $('#parameters-table > tbody > tr:last').append('<td><input class="form-control" type="number" name="'+parameter.name+'['+item+']'+'" step="any"></td>');
                    });
                });
                shiftBooleanParameters.forEach(function (parameter, index) {
                    $('#parameters-table > tbody').append('<tr><td title="'+parameter.description+'">'+parameter.label+'</td></tr>');
                    shiftArray.forEach(function (item, index2) {
                        $('#parameters-table > tbody > tr:last').append('<td class="checkbox-td"><input class="form-check-input" type="checkbox" name="'+parameter.name+'" value="'+item+'"></td>');
                    });
                });

                let columnTargets = [0];
                shiftArray.forEach(function (item, index) {
                    columnTargets.push(index+1);
                });
                console.log(columnTargets);

                $('.parameters').show();
                table = tableSelector.DataTable({
                    columnDefs: [{
                        orderable: false,
                        targets: columnTargets
                    }],
                    order: [],
                    paging: false,
                    info: false,
                    searching: false,
                    scrollX: true,
                    scrollCollapse: true,
                    fixedColumns: {
                        leftColumns: 1
                    }
                });
            });

            /*
            $('#parameters-input').change(function (event) {
                let files = event.target.files, f = files[0];
                let reader = new FileReader();
                reader.onload = function(event) {
                    parametersFileInputMessage.hide();
                    let data = new Uint8Array(event.target.result);
                    let workbook = XLSX.read(data, {type: 'array'});

                    if (!('Parametros' in workbook.Sheets)) {
                        parametersFileInputMessage.show();
                        parametersFileInputMessage.text('El archivo no posee una hoja llamada "Parametros"');
                        return;
                    }
                    let rows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets['Parametros']);
                    console.log(workbook);
                    let shifts = Object.keys(rows[0]);
                    nonShiftIndex = shifts.indexOf('Turnos');
                    if (nonShiftIndex > -1) {
                        shifts.splice(nonShiftIndex, 1);
                    }
                    if (shifts.length < 1) {
                        parametersFileInputMessage.show();
                        parametersFileInputMessage.text('Error en archivo de parametros');
                        return;
                    }
                    $('input[name="shift[0]"]').val(shifts[0]);
                    while (shiftCount > 1) {
                        removeShiftBtn.click();
                    }
                    for (let i=1; i < shifts.length; i++) {
                        addShiftBtn.click();
                        $('input[name="shift['+i+']"]').val(shifts[i]);
                    }
                    generateTableBtn.click();
                    rows.forEach(function (row, index) {
                        let parameter = row['Turnos'];
                        if (scalarParametersList.includes(parameter)) {
                            let keys = Object.keys(row);
                            let valueKey = keys[0] !== 'Turnos' ? keys[0] : keys[1];
                            $('input[name="'+parameter+'"]').val(row[valueKey]);
                        } else if (constraintParametersList.includes(parameter)) {
                            let keys = Object.keys(row);
                            let valueKey = keys[0] !== 'Turnos' ? keys[0] : keys[1];
                            if (row[valueKey].toLowerCase() === 'no') {
                                $('input[name="'+parameter+'"]').prop('checked', false);
                            }
                        } else if (shiftBooleanParametersList.includes(parameter)) {
                            shifts.forEach(function (shift, index) {
                                let checked = row[shift].toLowerCase() === 'si';
                                $('input[value="'+shift+'"]').prop('checked', checked);
                            });
                        } else {
                            shifts.forEach(function (shift, index) {
                                $('input[name="'+parameter+'['+shift+']'+'"]').val(row[shift]);
                            });
                        }
                    });
                };
                reader.readAsArrayBuffer(f);
            });
            */


            $('#parameters-input').change(function (event) {
                $('#parameters-filename').html('' + $('#parameters-input').val().split(/(\\|\/)/g).pop()).show();
                $('.shift-container-element').hide();
            });

            let demandInputSelector = $('#demand-input');
            demandInputSelector.change(function (event) {
                $('#demand-filename').html(''+demandInputSelector.val().split(/(\\|\/)/g).pop()).show();
                let demandStoresSelector = $('#demand-stores');

                let files = event.target.files, f = files[0];
                let reader = new FileReader();
                reader.onload = function(event) {
                    let data = new Uint8Array(event.target.result);
                    let workbook = XLSX.read(data, {type: 'array', cellDates: true});

                    demandStoresSelector.html('');
                    let rows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[workbook.SheetNames[0]]);

                    let stores = [];

                    rows.forEach(function (row) {
                        if (!stores.includes(row['Tienda'])) {
                            stores.push(row['Tienda']);
                        }
                    });
                    stores.forEach(function (store, index) {
                        if (store !== "Horario") {
                            demandStoresSelector.append('<div class="form-check"><input name="store" class="form-check-input" type="checkbox" value="' + store + '" id="check-' + store + '" checked><label class="form-check-label" for="check-' + store + '">' + store + '</label></div>');
                        }
                    });


                    let startDate = rows[0]['Fecha'];
                    let endDate = rows[rows.length - 1]['Fecha'];
                    sheetStartDate = moment({
                        day: startDate.getUTCDate(),
                        month: startDate.getUTCMonth(),
                        year: startDate.getUTCFullYear()
                    });
                    sheetEndDate = moment({
                        day: endDate.getUTCDate(),
                        month: endDate.getUTCMonth(),
                        year: endDate.getUTCFullYear()
                    });

                    rangeInput.daterangepicker({
                        startDate: sheetStartDate,
                        endDate: sheetEndDate,
                        minDate: sheetStartDate,
                        maxDate: sheetEndDate,
                        locale: dataRangePickerLocale
                    });

                    $('input[name="sheet_start_date"]').val(sheetStartDate.format('DD/MM/YYYY'));
                    $('input[name="sheet_end_date"]').val(sheetEndDate.format('DD/MM/YYYY'));

                    $('#range-div').show();
                    $('#timerange-div').show();

                    shifts = Object.keys(rows[0]).length - 2;
                    $('input[name="time_shifts"]').val(shifts);
                    console.log(shifts);
                    if ((24*60)%shifts === 0) {
                        let shiftPeriod = 24*60/shifts;
                        shiftOptions = [];
                        for (let i=0; i<shifts; i++) {
                            let iterMinutes = shiftPeriod * i;
                            let shiftHour = Math.floor(iterMinutes/60).toString();
                            if (shiftHour.length < 2) {
                                shiftHour = "0" + shiftHour
                            }
                            let shiftMinute = (iterMinutes%60).toString();
                            if (shiftMinute.length < 2) {
                                shiftMinute = "0" + shiftMinute
                            }
                            shiftOptions.push(shiftHour + ":" + shiftMinute);
                        }
                        shiftOptions.push("24:00");
                        console.log(shiftOptions);
                        let openStartTimeSelector = $('select[name="open_start_time"]');
                        let closeStartTimeSelector = $('select[name="close_start_time"]');
                        let openEndTimeSelector = $('select[name="open_end_time"]');
                        let closeEndTimeSelector = $('select[name="close_end_time"]');
                        fillShiftsDouble(openStartTimeSelector, closeStartTimeSelector, openEndTimeSelector, closeEndTimeSelector, shifts, shiftOptions);

                        let schedules;
                        if ("Horario" in workbook.Sheets) {
                            schedules = XLSX.utils.sheet_to_row_object_array(workbook.Sheets["Horario"]);
                            if (!Object.keys(schedules[0]).includes("Dia")) {
                                setInputShifts(openStartTimeSelector, closeStartTimeSelector, openEndTimeSelector, closeEndTimeSelector, schedules[0]);
                            } else {
                                $('#timerange-weekday').attr('checked', true);
                                $('input[name="timerange_kind"]').trigger("change");
                            }
                        } else {
                            schedules = [];
                        }


                        for (let j=0; j<7; j++) {
                            let openStartTimeSelector = $('select[name="open_start_time['+j.toString()+']"]');
                            let closeStartTimeSelector = $('select[name="close_start_time['+j.toString()+']"]');
                            let openEndTimeSelector = $('select[name="open_end_time['+j.toString()+']"]');
                            let closeEndTimeSelector = $('select[name="close_end_time['+j.toString()+']"]');
                            fillShiftsDouble(openStartTimeSelector, closeStartTimeSelector, openEndTimeSelector, closeEndTimeSelector, shifts, shiftOptions);
                            if (schedules.length > 0 && Object.keys(schedules[0]).includes("Dia")) {
                                setInputShifts(openStartTimeSelector, closeStartTimeSelector, openEndTimeSelector, closeEndTimeSelector, schedules[j]);
                            }
                        }

                    } else {

                    }
                };
                reader.readAsArrayBuffer(f);
            });

            $('input[name="timerange_kind"]').change(function () {
                let uniqueTable = $('#unique-table');
                let weekdayTable = $('#weekday-table');
                let uniqueFlag = false;
                let weekdayFlag = false;
                if ($(this).val() === "1") {
                    uniqueTable.hide();
                    weekdayTable.show();
                    weekdayFlag = true;
                } else {
                    uniqueTable.show();
                    weekdayTable.hide();
                    uniqueFlag = true;
                }
                $('#unique-table select').each(function () {
                    $(this).attr('required', uniqueFlag);
                });
                $('#weekday-table select').each(function () {
                    $(this).attr('required', weekdayFlag);
                });
            });
        });

        function timeToMinutes (time) {
            let array = time.split(":");
            return (parseInt(array[0]) * 60) + parseInt(array[1]);
        }

        function fillShiftsDouble(openStartTimeSelector, closeStartTimeSelector, openEndTimeSelector, closeEndTimeSelector, shifts, shiftOptions) {
            fillShifts(openStartTimeSelector, openEndTimeSelector, shifts, shiftOptions);
            fillShifts(closeStartTimeSelector, closeEndTimeSelector, shifts, shiftOptions);
        }

        function fillShifts(startTimeSelector, endTimeSelector, shifts, shiftOptions) {
            for (let i=0; i<shifts; i++) {
                startTimeSelector.append('<option>'+shiftOptions[i]+'</option>');
            }
            for (let i=0; i<=shifts; i++) {
                endTimeSelector.append('<option>'+shiftOptions[i]+'</option>');
            }
            startTimeSelector.change(function () {
                updateEndSelector(startTimeSelector, endTimeSelector, shifts, shiftOptions);
            });
        }

        function updateEndSelector(startTimeSelector, endTimeSelector, shifts, shiftOptions) {
            if (startTimeSelector.val() == null) {
                return;
            }
            let start = timeToMinutes(startTimeSelector.val());
            let currentEnd = endTimeSelector.val();
            endTimeSelector.html('');
            for (let i=0; i<=shifts; i++) {
                let iterMinutes = timeToMinutes(shiftOptions[i]);
                if (iterMinutes > start || iterMinutes === start) {
                    //let option = (shiftOptions[i] === currentEnd) ? '<option selected>' : '<option>';
                    endTimeSelector.append('<option>'+shiftOptions[i]+'</option>');
                }
            }
            endTimeSelector.val(currentEnd);
        }

        function setInputShifts(openStartTimeSelector, closeStartTimeSelector, openEndTimeSelector, closeEndTimeSelector, row) {
            let endTime = row["Apertura-fin"].toTimeString().substr(0,5);
            if (endTime === "00:00") {
                endTime = "24:00";
            }
            openEndTimeSelector.val(endTime);
            endTime = row["Cierre-fin"].toTimeString().substr(0,5);
            if (endTime === "00:00") {
                endTime = "24:00";
            }
            closeEndTimeSelector.val(endTime);
            openStartTimeSelector.val(row["Apertura-inicio"].toTimeString().substr(0,5));
            openStartTimeSelector.trigger("change");
            closeStartTimeSelector.val(row["Cierre-inicio"].toTimeString().substr(0,5));
            closeStartTimeSelector.trigger("change");
        }


    </script>
{% endblock %}