{% extends "base.html" %}
{% load static %}
{% load tz %}
{% load get_item %}
{% block title %}{{ plan.name }}{% endblock %}

{% block content %}
    <h3 class="mb-3">{{ plan.name }}</h3>
    <div class="row">
        <div class="col col-sm-6">
            <b>Estado:</b> {% with status=plan.get_status_bootstrap %}<span class="badge badge-{{ status.1 }}" id="plan-status">{{ status.0 }}</span>{% endwith %}<br>
            <b>Rango de ejecucion:</b> {{ parameters.start_date }} - {{ parameters.end_date }}<br>
            <b>Creado por:</b> {{ plan.created_by.name }}<br>
            <b>Creado el:</b> {{ plan.created_at|timezone:'America/Santiago' }}<br>
            <b>Finalizado el:</b> {% if plan.ended_at %}{{ plan.ended_at|timezone:'America/Santiago' }}{% else %}-{% endif %}
            <br>
            <div class="btn-group mt-1" id="plan-btns">
                {% if plan.events_attach %}
                    <a href="/media/{{ plan.events_attach }}" class="btn btn-primary btn-sm" role="button" target="_blank">Descargar archivo de eventos</a>{% endif %}
                {% if plan.has_results %}
                    <div class="dropdown btn-group">
                        <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="results-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Descargar resultados
                        </button>
                        <div class="dropdown-menu" aria-labelledby="results-btn">
                            <a class="dropdown-item" href="{% url 'specialevents:plan_results' plan.id %}">Driver por hoja</a>
                            <a class="dropdown-item" href="{% url 'specialevents:plan_results' plan.id %}?format=one-sheet">Resultados en una hoja</a>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="col col-sm-6">
            <b>Mínimo de días:</b> {{ parameters.days_min }}<br>
            <b>Máximo de días:</b> {{ parameters.days_max }}<br>
            <b>Incremento de días:</b> {{ parameters.days_step }}<br>
            <b>Mínimo de sensitividad:</b> {{ parameters.sensitivity_min }}<br>
            <b>Máximo de sensitividad:</b> {{ parameters.sensitivity_max }}<br>
            <b>Incremento de sensitividad:</b> {{ parameters.sensitivity_step }}
        </div>
    </div>
    <hr>
    <table id="drivers" class="table table-bordered table-striped" style="width: 100%">
        <thead>
        <tr>
            <th>Driver</th>
            <th>Estado</th>
            <th>Inicio el:</th>
            <th>Finalizo el:</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for driver in plan.drivers.all %}
            <tr>
                <td>{{ driver.name }}</td>
                <td>{% with status=driver.get_status_bootstrap %}<span class="badge badge-{{ status.1 }}">{{ status.0 }}</span>{% endwith %}</td>
                <td>{% if driver.started_at %}{{ driver.started_at|timezone:'America/Santiago' }}{% else %}-{% endif %}</td>
                <td>{% if driver.ended_at %}{{ driver.ended_at|timezone:'America/Santiago' }}{% else %}-{% endif %}</td>
                <td>
                    <div class="btn-group">
                        {% if driver.show_cancel_btn %}
                            <button class="btn btn-warning btn-sm cancel-task" data-driver-id="{{ driver.id }}" role="button">Cancelar</button>
                        {% endif %}
                        {% if driver.results %}
                            <a href="/media/{{ driver.results }}" class="btn btn-success btn-sm" role="button" target="_blank">Descargar</a>
                        {% endif %}
                        {% if driver.error_stack_trace %}
                            <a href="#" class="btn btn-danger btn-sm btn-stack-trace" role="button">Error<div data-storename="{{ driver.name }}" style="display: none">{{ driver.error_stack_trace }}</div></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="error-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"><pre></pre></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var myvar;
        $(document).ready(function() {
            if ($('.cancel-task').length > 0) {
                $('#plan-btns').append('<a href="{% url 'specialevents:cancel_plan' plan.id %}" class="btn btn-warning btn-sm" role="button">Cancelar ejecucion</a>');
            }

            dataTable3('drivers', {
                order: [[0, 'asc']],
                buttons: [{extend:'pageLength', className: 'btn btn-fill'}]
            });
            $('#drivers-table_filter').hide();

            let tbodySelector = $('#drivers tbody');

            tbodySelector.on('click', '.btn-stack-trace', function () {
                console.log($(this).children().first().text());
                $('#error-modal h5').text($(this).children().first().data('storename'));
                $('#error-modal pre').text($(this).children().first().text());
                $('#error-modal').modal();
            });

            tbodySelector.on('click', '.cancel-task', function () {
                let taskId = $(this).data('driver-id');
                let cancelBtn = $(this);
                $.ajax({
                    method: 'GET',
                    url: '/specialevents/drivers/'+taskId+'/cancel/'
                })
                    .done(function(response) {
                        if (response.content.status === "Success") {
                            buildSuccessAlert("Tarea cancelada exitosamente", "");
                            $('#plan-status').removeClass().addClass('badge badge-warning').text('Cancelado');
                            cancelBtn.parent().parent().prev().prev().prev().children().first().removeClass().addClass('badge badge-warning').text('Revocado');
                            cancelBtn.attr('disabled', true);

                        } else if (response.content.status === "Error") {
                            buildErrorAlert("Error al cancelar la tarea", "");
                        }
                    });
            })
        });
    </script>
{% endblock %}
